<form method="POST" action'/post'>
  <input type="text" name='title' placeholder='Heading'>
  <textarea type="text" name="body" placeholder="Chirp On Bitches" maxlength="150"></textarea>
  <input type="submit">

</form>

<div class="header"><%= @head %></div>
<div class="chirp"><%= @chirp %></div>
<label>By <%= @user %> at <%= @time %> </label>


<h2><br><br> Your last 10 posts</h2>
  <% current_user.posts.last(10).reverse.each do |x| %>
  <p><%= x.title %></p>
  <p><%= x.body %></p>
  <% end %>